# Node.js 기본 제외
node_modules/
npm-debug.log
.env
.DS_Store

# LibreOffice 캐시
.config/libreoffice/

# 테스트 문서
files/*.pdf
files/*.html
files/*.doc
files/*.docx
files/*.xls
files/*.xlsx
files/*.hwp
files/*.hwpx
temp/**.pdf


